/* Universal styles */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #5D6D7E;
  display: flex;
  align-items: center;
}

.content {
  width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  height: 50%;
  margin-left: 2rem;
}

.name {
  font-weight: 700;
}

nav ul {
  display: flex;
  margin-right: 24px;
}

nav ul li {
  margin-left: 12px;
}

nav ul li a:hover {
  color: #61892F;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 700px) {

  .mobile {
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .screen {
    display: none;
  }

  .logo p {
    display: none;
  }

  .logo {
    width: 25%;
  }

}

/* Main banner styles */
.banner {
  display: flex;
  background-color: #CCD1D1;
  text-align: center;
}

.img-left {
  width: 60%;
  margin: 1.55rem 1.05rem;
}

.img-left img {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.banner-texts {
  width: 70%;
  font-weight: bold;
  margin-left: 1.05rem;
}

.button {
  color: #fff;
  background-color: #61892F;
  padding: 0.6rem 3rem;
  margin-top: 2.5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {

  .banner {
    flex-direction: column;
    background-color: #fff;
  }

  .img-left {
    width: 100%;
    margin: 0;
  }

  .banner-content {
    width: 100%;
    margin: 1.6rem 0.8rem;
    align-items: center;
  }


  h1 {
    font-size: 2rem;
  }

}

/* Information area styles */
#information {
  display: flex;
}

#quote {
  font-size: 0.9rem;
  margin: 1.6rem auto;
}

.right-column {
  width: 40%;
  margin-top: 0.75rem;
}

.info-box {
  display: flex;
  margin-right: 1rem;
  margin-left: 1.05rem;
}

.info-img {
  width: 35%;
}

.mobile-img {
  display: none;
}

.info-img img {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  width: 65%;
}

.info-text p {
  margin-bottom: 1.1rem;
}

.info-text a {
  color: #61892F;
}

#guest, #fisma {
  background-color: #CCD1D1;
}

@media only screen and (max-width: 700px) {

  #practising {
    display: none;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .info-box {
    flex-direction: column;
  }

  .right-column, .info-img {
    width: 100%;
  }

  .info-text {
    width: 100%;
  }

  .info-text p {
    display: block;
  }

  .info-box {
    margin: 0.8rem;
  }

  .info-img img {
    padding: 1rem 0;
  }

  #guest {
    background-color: #fff;
  }
}

/* Courses styles */
#start {
  text-align: center;
  margin-top: 1.6rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin: 1.6rem 3.6rem;
}

.course-box {
  width: 30%;
  margin-top: 1.6rem;
  margin-right: 1.6rem;
}

.course-box img {
  width: 100%;
}

.course-box h3 {
  margin: 0.8rem auto;
}

.course-text {
  margin-bottom: 1.2rem;
  margin-left: 0.8rem;
}

.course {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 700px) {

  .course-box img{
    display: none;
  }

  .course-box p {
    display: none;
  }

  .courses {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem;
  }

  .course-box {
    width: 90%;
    background-color: #CCD1D1;
    margin: 0.4rem 0;
  }
}

/* Thesis styles */
.thesis h2 {
  text-align: center;
}

#exhibit{
  display: flex;
}

.img-left video {
  width: 100%;
}

#urban h3 {
  margin-top: 1.2rem;
}

@media only screen and (max-width: 700px) {

  #urban h3 {
    display: none;
  }

  #urban p {
    display: none;
  }

  #exhibits {
    display: none;
  }

}
/* Footer styles */
footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
  background-color: #CCD1D1;
}

footer a {
  margin-left: 1rem;
}

@media only screen and (max-width: 1000px) {

  footer {
    background-color: #fff;
  }

  footer p {
    display: block;
  }

  footer a {
    display: none;
  }
