/* Universal styles */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #222629;
  display: flex;
  align-items: center;
}

.content {
  width: 1300px;
  border-left: 1px solid #6B6E70;
  border-right: 1px solid #6B6E70;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  height: 50%;
  margin-left: 24px;
}

.name {
  font-weight: 700;
}

nav ul {
  display: flex;
  margin-right: 24px;
}

nav ul li {
  margin-left: 12px;
}

a:hover {
  color: #61892F;
}

/* Main banner styles */
.banner {
  display: flex;
  background-color: #CCD1D1;
}

.img-left {
  width: 60%;
  margin: 1.55rem 1.05rem;
}

.img-left img {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 1.05rem;
  margin-right: 2rem;
}

.banner-texts {
  width: 80%;
  font-weight: 700;
}

.button {
  color: #fff;
  background-color: #61892F;
  padding: 0.6rem 3rem;
  margin-top: 2.5rem;
  text-align: center;
}

/* Information area styles */
#information {
  display: flex;
}

#quote {
  font-size: 0.8rem;
  margin: 1.6rem auto;
}

.right-column {
  width: 40%;
}

.info-box {
  display: flex;
  margin-top: 1.55rem;
  margin-right: 1rem;
  margin-left: 1.05rem;
}

.info-img {
  width: 35%;
}

.info-img img {
  width: 100%;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.info-text p {
  margin-bottom: 1.1rem;
}
